<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Admin Panel</title>
    <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/prevent.js"></script>
  <script src="dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
</head>
<body>
  <div id="nav" class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CMS</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#" v-on:click="logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="container" id="app">
      <div class="row">
        <h3><span class="label label-success">Selamat Datang {{username}}</span></h3>
        <hr>
        <button type = "button" class = "btn btn-primary" data-toggle = "collapse" data-target = "#demo">
          Add New Article
        </button>
        <dd class="collapse out" id="demo" >
          <div class="container-fluid" style="padding-top: 20px;">
            <form class="main-container">
              <div class="row">
                <div class="col-xs-4">
                  <label for="title" class="label-style">Title</label>
                </div>
                <div class="form-group col-lg-4">
                  <input type="text" id="title" v-model="title" class="form-control" placeholder="Title" required>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <label for="fullname" class="label-style">Content</label>
                </div>
                <div class="form-group col-lg-4">
                  <textarea type="text" id="content" v-model="content" class="form-control" placeholder="Content" required></textarea>
                </div>
              </div>
              <div class="button-container">
                <button class="btn btn-success" type="submit" @click="addArticle">Submit</button>
                <button class="btn btn-warning" type="reset" @click="resetButton">Reset</button>
              </div>
            </form>
          </div>
        </dd>
      </div>
      <div class="row">
        <hr>
      </div>
      <div v-for="data in articles" class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{data.title}}</h3>
          </div>
          <div class="panel-body">{{data.content}}</div>
          <div class="panel-footer clearfix">
            <div class="pull-left">
              <span class="label label-primary">Author by {{data.author.name}}</span>
            </div>
            <div v-if="data.author._id === userid" class="pull-right">
              <a href="#" class="btn btn-primary">Update</a>
              <a href="#" class="btn btn-default" v-on:click="deleteArticle(data._id)">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>

  </html>
